node_modules
lib
**/dist
doc
/docs
out
.vscode-test/
*.vsix
coverage

docsPress/docs/@utilslib
docsPress/.vitepress/dist
docsPress/.vitepress/cache
docsPress/docs/index.md
docsPress/docs/.vitepress/nav.json
docsPress/docs/.vitepress/sidebar.json
docsPress/docs/.vitepress/cache
docsPress/docs/.vitepress/dist